:root{
    --green:#A2C579;
    --wheat:#ffffff;
    --whitesmoke:#f5f5f5;
    --yellow:#D2DE32;
    --brown:#FF5B22;

}

#h3{
    font-size: 3em;
    color:var(--brown);
    position: absolute;
    margin-left: 45%;
  }
  body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    height: 100vh;

}

.mens1{
    width:1500px;
    height: 300vh;
    background-image:linear-gradient(to right,rgb(233, 224, 224),rgb(157, 157, 149));
}
.shirt{
    border-radius: 15px;
    width:400px;
    height: 500px;
    position: absolute;
    margin-left: 6%;
    margin-top: 12%;
    background-image:url("images/shirt.jpg") ;
    background-size: cover;
}
.shirt:hover{
    transform: translateY(-15px);
}
a:link{
    text-decoration: none;
}

#btn{
    border-radius: 20px;
    width: 150px;
    padding: 8px;
    text-decoration: none;
    position: absolute;
    margin-top: 34em;
    color:black;
    cursor: pointer;
}
#btn:hover{
    background-color: var(--green);
    color: var(--whitesmoke);
}

#btn1{
    border-radius: 20px;
    width: 130px;
    padding: 8px;
    text-decoration: none;
    position: absolute;
    margin-top: 34em;
    margin-left: 17em;
    cursor: pointer;
}

#btn1:hover{
    background-color: var(--green);
    color: var(--whitesmoke);
}
.shirt1{
    border-radius: 15px;
    width:400px;
    height: 500px;
    position: absolute;
    margin-top: 12%;
    margin-left: 35%;
    background-image:url("images/shirt1.jpg_2000Wx3000H") ;
    background-size: cover;
}

.shirt1:hover{
    transform: translateY(-15px);
}
#btn2{
    border-radius: 20px;
    width: 150px;
    padding: 8px;
    text-decoration: none;
    position: absolute;
    margin-top: 34em;
    cursor: pointer;
}
#btn2:hover{
    background-color: var(--green);
    color: var(--whitesmoke);
}

#btn3{
    border-radius: 20px;
    width: 130px;
    padding: 8px;
    text-decoration: none;
    position: absolute;
    margin-top: 34em;
    margin-left: 17em;
    cursor: pointer;
}

#btn3:hover{
    background-color: var(--green);
    color: var(--whitesmoke);
}
.shirt2{
    border-radius: 15px;
    width:400px;
    height: 500px;
    text-decoration:none;
    position: absolute;
    margin-top: 12%;
    margin-left: 64%;
    background-image:url("images/shirt3.jpg") ;
    background-size: cover;
}
.shirt2:hover{
    transform: translateY(-15px);
}

#btn4{
    border-radius: 20px;
    width: 150px;
    padding: 8px;
    text-decoration: none;
    position: absolute;
    margin-top: 34em;
    cursor: pointer;
}
#btn4:hover{
    background-color: var(--green);
}

#btn5{
    border-radius: 20px;
    width: 130px;
    padding: 8px;
    text-decoration: none;
    position: absolute;
    margin-top: 34em;
    margin-left: 17em;
    cursor: pointer;
}

#btn5:hover{
    background-color: var(--green);
}